* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-corner,
::-webkit-resizer {
  background: #fff;
}

html {
  font-size: 12px;
}
body {
  overflow: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: 0;
} 
i {
  font-style: normal;
}
#app {
  font-family: "微软雅黑";
  width: 29rem;
  max-height: 72.17rem;
}
.red {
  color: #f64a4e;
  cursor: pointer;
}
.content-list{
  margin: 0 .83rem;
}
.red:hover {
  text-decoration: underline;
}
.yellow {
  color: #f5a623;
  cursor: pointer;
}
.yellow:hover {
  text-decoration: underline;
}
.ysblue {
  color: #1d8754 !important;
}

.full-div {
  color: #888888;
  letter-spacing: 0.28px;
  text-indent: 2em;
  margin:0 .83rem;
}
.icon {
  display: inline-block;
  background: red;
  vertical-align: middle;
}
.icon-check {
  width: 49px;
  height: 49px;
  background: url(../images/icon.png)no-repeat;
  background-position: -46px -122px;
}
.icon-robot {
  width: 46px;
  height: 46px;
  background: url(../images/icon.png)no-repeat;
  background-position: -143px -126px;
}
.icon-current-time {
  width: 49px;
  height: 49px;
  background: url(../images/icon.png)no-repeat;
  background-position: -236px -124px;
}
.icon-return {
  width: 16px;
  height: 16px;
  background: url(../images/icon1.png)no-repeat;
  background-position: -43px -128px;
}
.icon-download {
  width: 20px;
  height: 20px;
  background: url(../images/icon.png)no-repeat;
  background-position: -45px -426px;
}
.icon-qq {
  width: 20px;
  height: 20px;
  background: url(../images/icon.png)no-repeat;
  background-position: -45px -467px;
}
.icon-remind {
  width: 2.03rem;
  height: 12px;
  background: url(../images/icon.png)no-repeat;
  background-position: -328px -122px;
}
.icon-refresh {
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/icon.png)no-repeat;
  background-position: -263px 28px;
}
.icon-disable-input {
  width: 16px;
  height: 16px;
  background: url(../images/icon1.png)no-repeat;
  background-position: -253px -128px;
}
.icon-select-input {
  width: 16px;
  height: 16px;
  background: url(../images/icon1.png)no-repeat;
  background-position: -205px -128px;
  cursor: pointer;
}
.icon-input {
  width: 16px;
  height: 16px;
  background: url(../images/icon1.png)no-repeat;
  background-position: -149px -128px;
  cursor: pointer;
}
.icon-loading {
  width: 93px;
  height: 71px;
  background: url(../images/icon.png)no-repeat;
  background-position: -382px -120px;
}
.content {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 5.5rem;
}
.foot {
  position: fixed;
  bottom: 0;
  width: 34.8rem;
  height: 5.5rem;
  background: orangered;
}


/* -------source页面----- */
.source-div {
  max-height: 45.32rem;
  overflow-y: auto;
}
.source-box {
  min-width: 25.67rem;
  min-height: 11.33rem;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin: 1.25rem 1.67rem 0;
}
.source-box:last-of-type {
  margin-bottom: 1.25rem;
}
.num {
  display: inline-block;
  background: #dbdbdb;
  border-radius: 2px;
  height: 1.33rem;
  width: 1.33rem;
  text-align: center;
  line-height: 1.33rem;
}
.source-title {
  display: inline-block;
  height: 1.33rem;
  line-height: 1.33rem;
  margin-left: 0.42rem;
}
.source-01 {
  height: 1.83rem;
  margin: 1rem 0.83rem 0.67rem;
  line-height: 1.83rem;
}
.source-02 {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #222226;
  letter-spacing: 0.28px;
  height: 1.33rem;
  line-height: 1.33rem;
  margin: 0 0 0.42rem 0.67rem;
}
.source-03 {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #888888;
  letter-spacing: 0.28px;
  margin: 0 0.67rem 0.42rem;
}
.source-04 {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #888888;
  letter-spacing: 0.28px;
  line-height: 16px;
  margin: 0 0.67rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.source-04:last-of-type {
  margin-bottom: 1.25rem;
}
.source-04-02 {
  margin-bottom: 1.25rem;
}
.source-04-01 {
  color: #619ae2;
}
.colors {
  color: #f64a4e;
}

/* fragment页面 */
.page-num {
  display: inline-block;
  padding: 0 0.4rem;
}
.page-select {
  color: #101000;
}
/* 机器人降重页面 */
.cost-box {
  width: 78.33rem;
  height: 48.33rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -39.165rem;
  margin-top: -24.165rem;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  color: #888888;
  letter-spacing: 0.42px;
  font-family: MicrosoftYaHei;
}
.cost-box h3 {
  text-align: center;
  font-size: 1.67rem;
  padding: 1.58rem 0;
  border-bottom: 1px solid #888;
  margin: 0 1.67rem;
  font-weight: 500;
}
.cost-content {
  width: 25.6rem;
  height: 25rem;
  margin: 0 auto;
}
.balance {
  margin: 4.17rem 0 3.33rem;
  font-size: 1.16rem;
}
.right-content {
  float: right;
}
.red-content {
  color: red;
}
.balance::after {
  clear: both;
}
.cost-list ul li {
  font-size: 1.16rem;
  margin-bottom: 3.33rem;
  letter-spacing: 0.28px;
}
.remind-content {
  font-size: 1.16rem;
  margin-bottom: 5.42rem;
}
.boder-solid {
  margin: 0 1.67rem;
  border-bottom: 1px solid #888;
}
.green-content {
  color: #03802c;
  margin: 0 1.67rem;
}
.btn-box {
  text-align: right;
  margin: 0 1.67rem;
}
.btn-box .btn {
  text-align: center;
  display: inline-block;
  width: 12.33rem;
  height: 3rem;
  border-radius: 0.3rem;
  line-height: 3rem;
  font-size: 1.67rem;
}
.btn-box .btn-cancel {
  border: 1px solid #888;
  background: #fff;
  color: #888;
}
.btn-box .btn-success {
  background: #03802c;
  border: 1px solid #03802c;
  color: #fff;
  margin-left: 0.83rem;
}